# Archivos específicos de Android/Gradle
.gradle/
build/
captures/
local.properties

# Configuración de Android Studio
.idea/workspace.xml
.idea/libraries/
.idea/shelf/
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/navEditor.xml
*.iml

# Archivos de log
*.log